<div class = "container">
    <div class="row" id="top-section">
        <div class="col-md-12">
            <h1>EAT DA BURGER!</h1>
            <br>
            <div id="burger-image"><img src="/assets/images/burger.jpg"></image>
            </div>
        </div>
    </div>
    <br>
    <br>
    <div class="row">
        <div class="col-md-6" class="task" id="eat-burger">
            <div id = "toEat">
                <h3>Burgers To Eat!</h3>
                <hr>
                {{#each burger_data}}
                    {{#unless this.devoured}}
                        <pre id="burger">{{this.burger}}</pre>
                        <form method="POST" action="/burgers/update?_method=PUT" class="button-size">
                            <input type="hidden" name="id" type="text" value={{this.id}}>
                            <button type="submit" class="btn btn-outline-dark" id="devour-it">DEVOUR IT!</button>
                        </form>
                    {{/unless}}
                {{/each}}
            </div>
           
        </div>
        <div class="col-md-6" class="task">
            <div id = "eaten">
                <h3>Burgers that have been DEVOURED!</h3>
                <hr>
                {{#each burger_data}}
                    {{#if this.devoured}}
                         <pre id="devoured">{{this.burger}}</pre>
                    {{/if}}
                {{/each}}
            </div>
              
        </div>
    </div>
    <br>
    <br>
    <div class="row">
        <div class="col-md-12" id="enter-section">
            <p>ENTER IN A BURGER YOU WOULD LIKE TO EAT!</p>
            <form action="/burgers/create" method="POST">
                <input type="text" id = "text-box" name="burger" class="form-control col-md-12" value="" id="enter-text">
                <br>
                <button type="submit" class="btn btn-outline-primary">SUBMIT</button>
            </form>
            <br>
        </div>
    </div>
</div>