<h1>EAT DA BURGER</h1>
<ul>
    {{#each burgers}}
        <li>
            <div>DEVOURERED  {{this.devourer}}   {{this.burger}} <button class="eatMe" type="button" data-id={{this.id}} method="POST" action="update?_method=PUT">DEVOURER</button> <br><br> </div>
        </li>
    {{/each}}
</ul>

<h2>ADDA BURGER</h2>
<form method="POST" action="/create">
    <textarea type="text" name="burger"></textarea>
    <button type="submit">Add A Burger</button>
</form>